@import url("https://fonts.googleapis.com/css2?family=Kalnia+Glaze:wght@100..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

.mask-container {
  position: relative;
  width: 600px;
  height: 600px;
  overflow: hidden;
}

.masked-image {
  clip-path: path(
    "M409.5 0L506.153 334.436H818.93L565.888 541.128L662.542 875.564L409.5 668.872L156.458 875.564L253.112 541.128L0.0701599 334.436H312.847L409.5 0Z"
  );
}

.svg-container {
  width: 700px; /* Adjust this to your desired width */
  height: 689px; /* Adjust this to your desired height */
  display: flex;
  align-items: center;
  justify-content: center;
}
